@import 'bourbon', 'whitespace_reset', '_cask', 'barber_header'

$beige: #fefaed
$outline: #344960
$blue2: #94bed3
$red: #f47067
$white: #fcf9f1

body
  margin: 0 auto
  max-width: 800px
  background: $beige
  font-family: Cabin, sans-serif
  color: $outline
  font-size: 18px
  line-height: 160%
  +font-smoothing
  -webkit-text-size-adjust: none
  +mobile
    font-size: 16px
  >main
    padding: 0 40px 50px 40px

header
  padding-top: 20px
  h1, h2
    color: $outline
    padding-top: 10px
    text-shadow: -1px 0 $beige, 0 1px $beige, 1px 0 $beige, 0 -1px $beige
    font-size: 72px
    font-weight: normal
    line-height: 100%
  +mobile
    padding: 20px 0
    h1
      font-size: 60px

#survey_new
  max-width: 800px
  margin: 0 auto
